In [1]:
import pandas as pd
import geopandas as gpd

In [3]:
gdf = gpd.read_file('/Users/sava/Desktop/task/Nucleo uni/ascensore sociale/italia.json')

In [5]:
df = pd.read_csv('/Users/sava/Desktop/task/Nucleo uni/ascensore sociale/tab_prov.csv')

In [8]:
gdf['DEN_UTS']

0                     Torino
1                   Vercelli
2                     Novara
3                      Cuneo
4                       Asti
               ...
102     Verbano-Cusio-Ossola
103    Monza e della Brianza
104                    Fermo
105    Barletta-Andria-Trani
106             Sud Sardegna
Name: DEN_UTS, Length: 107, dtype: object

In [57]:
df['Province Name'][~df['Province Name'].isin(gdf['DEN_UTS'])]

72               Ogliastra
104         Olbia - Tempio
105        Medio Campidano
109    Carbonia - Iglesias
Name: Province Name, dtype: object

In [58]:
gdf['DEN_UTS'][~gdf['DEN_UTS'].isin(df['Province Name'])]

106    Sud Sardegna
Name: DEN_UTS, dtype: object

In [56]:
gdf.loc[105,'DEN_UTS'] = 'Barletta-Trani-Andria'

In [62]:
df

           Province Name   Q1Q5
0                Bolzano  0.372
1                  Aosta  0.267
2                  Lecco  0.260
3                Belluno  0.247
4                 Modena  0.242
..                   ...    ...
105      Medio Campidano  0.051
106             Oristano  0.050
107                Nuoro  0.049
108            Agrigento  0.047
109  Carbonia - Iglesias  0.044

[110 rows x 2 columns]

In [71]:
defi = gdf.merge(df, left_on='DEN_UTS',right_on='Province Name', how='outer').dropna(subset=['geometry'])

In [72]:
defi.to_file('q1q5.geojson',driver='GeoJSON',index=False)